
.body{

   
    font-size: larger;
    background: white;
    color: black;
    width: 25%;
    height: 400px;
   
    
    box-shadow:0 5px 5px white;
    border: black;
    border-style: double;
    
    
    
}

h3{
    float:right;
}
.register{
    margin-top: 200px;
    margin-left: 100px;
    color:white;
    background-color: black;
}
.barbie{
    border: black;
    border-style: groove;
    margin-top: 80px;
    text-align: center;
}